*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body{
    background-color: #181419;
    color:white; 
     /* scrollbar-color: #9f3647  #181419; /*nuevo
     scrollbar-width: thin;*/
}
.bodyRegistrarse{
    height: 100vh;
    background:linear-gradient(to right top, #24242473,#24242473),url("bg-register.jpg");
    background-size: cover;
    background-position: center;
    .headerRegistrarse{
        color:#ffffff;
        height: 8vh;
        padding:30px;
        .anclaLogo{
            text-decoration: none;
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2rem;
             /*animacion hover*/
            &:hover{
                animation: tilt-n-move-shaking 0.25s infinite;
            }
        }
    }
    .main{
         /*seccion de registrarse.html*/
        .seccionRegistrarse{
            background-color:rgb(42, 42, 42);
            width: 30%;
            margin:0 auto;
            border-radius: 5px;
            padding: 40px 20px;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            height: 90vh;
            font-size:1.2rem;
            .tituloRegistrarse{
                font-size: 2.5rem;
                font-weight: 700;
                margin-bottom: 20px;
            }
            /*seleccionar todos los input menos el checkbox*/
            form{
                width: 100%;
                padding:40px;
                input:not(.check,.boton),select{
                    width: 100%;
                    margin-bottom: 10px;
                    height: 40px;
                    padding: 0px 20px;
                    font-size: 1.2rem;
                    border-radius: 20px;
                    border: 2px solid #9f3647;
                    background-color: #333333;
                    outline: none;
                    color:rgb(255, 255, 255);
                }
                .error input:not(.check,.boton),.error select{
                    border: 2px solid #ff0000;
                }
                .error-text{
                    color: #ff0000;
                    font-size: 0.8rem;
                    margin-top:0px;
                    margin-bottom: 10px;
                }
              
                .terminos{
                    font-size: 0.8rem;
                    display: flex;
                    align-items: center;
                    margin-bottom: 20px;
                    .textoCheck{
                        margin-left: 10px;
                    }
                }
                .boton{
                    width: 87%;
                    box-sizing: content-box;
                    background-color:#9f3647;
                    border: 2px solid #9f3647;
                    color: #ffffff;
                    padding: 1rem 1rem;
                    border-radius: 5px;
                    font-size: 1rem;
                    font-weight: 500;
                   
                }
                .ayuda{
                    margin-top:40px;
                    font-size: 1rem;
                    text-decoration: none;
                    color: #787878;
                    font-weight:400;
                   
                }
            }
           
        }
   
    }
}



/*media querys para mobile PAGINA registrarse*/
@media (max-width: 1200px) {
    .bodyRegistrarse{
        .headerRegistrarse{
            padding:20px;
            .anclaLogo{
                font-size: 1rem;
            }
        }
        .main{
            .seccionRegistrarse{
                width: 95%;
                padding: 10px 10px;
                .tituloRegistrarse{
                    font-size: 2rem;
                }
               form{
                width: 100%;
                text-align: center;
               
                input:not(.check,.boton),select{
                    width: 80%;
                    height: 35px;
                    font-size: 1rem;
                }
                .terminos{
                    width: 80%;
                    margin:0 auto;
                    font-size: 0.7rem;
                }
                .boton{
                    margin-top: 20px;
                    margin-bottom: 20px;
                    width: 70%;
                    padding: 0.8rem 0.8rem;
                    font-size: 0.8rem;
                }
                .ayuda{
                    text-align: left;
                    font-size: 0.8rem;
                }
               }
               
            }
        }
    }

}